// UI colors
$blue-primary: #162b66;
$blue-primary-hover: #003872;
$blue-secondary: #5f7595;
$blue-tertiary: #6787b7;
$metalic-blue: #4b6386;
$grey01: #cac7c5;
$grey02: #e8e7e6;
$grey03: #fcfbf9;
$grey04: #bebebd;
$white: #ffffff;
$grey-border: #bebebd;
$light-blue: #556f96;
$border-disable: #ecebea;

// Alert colors
$critical-red: #fb4b53;
$light-critical-red: #feeded;
$very-light-pink: #fef7f7;
$major-orange: #fa8c0c;
$minor-yellow: #fab90c;
$light-ok-green: #eaf9f4;
$ok-green: #31c599;

// media queries variables
$mobile-max-width: 767px;

$red: #e4002b;
$red-hover: #bb0024;
$ocean: #336699;
$oceanopacity: #33669935;
$midnight-100: #0f3256;
$midnight-065: #637a91;
$midnight-035: #abb8c4;
$midnight-015: #dbe0e6;
$midnight-010: #eef1f3;
$midnight-005: #f6f7f8;
$white: #ffffff;
$critical-red: #fb4b53;
$major-orange: #fa8c0c;
$minor-yellow: #fab90c;
$ok-green: #31c599;
